# Ignore everything by default
*

# Except list and sorting folders
!list/
!list/**/*.cpp
!sorting/
!sorting/**/*.cpp

# Ignore system and unwanted files/folders
*.lnk
*.mdf
*.ldf
*.ewb
Desktop/
Documents/
Downloads/
AppData/
